:root {
  --part1-percentage: 0%;
  --part2-percentage: 0%;
  --part2-percentage-opacity: 0%;
  --part3-percentage: 0%;
  --part4-percentage: 0%;
}
html {
  scroll-behavior: smooth;
  transition: all ease-in-out;
}

/* hide scroll-bar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

body {
  background-color: #000;
  margin: 0;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part {
  background-color: #000;
  margin: 0;
  height: 400vh;
}

#part1-text {
  margin: 0;
  padding: 0;
  color: #fff;
  letter-spacing: -0.3px;
  background-image: linear-gradient(
    75deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 33.3%,
    rgba(255, 255, 255, 0) 66.67%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 500% 100%;
  background-position-x: calc(100% - var(--part1-percentage));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#part2-laputa {
  position: relative;
  background-color: red;
}

#part2-text {
  position: absolute;
  color: rgba(255, 255, 255, 1);
  top: 10%;
  opacity: var(--part2-percentage-opacity);
  transform: translateX(var(--part2-percentage));
}

#part3-stone {
  position: relative;
  background-color: red;
}

#part3-text {
  margin: 0;
  padding: 0;
  color: #e9ffea;
  letter-spacing: -0.3px;
  background-image: linear-gradient(
    75deg,
    #1af8ca 0%,
    #1af8ca 33.3%,
    rgba(255, 255, 255, 0) 66.67%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 500% 100%;
  background-position-x: calc(100% - var(--part3-percentage));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  bottom: 12%;
  left: 5%;
}

#part4-castle {
  position: relative;
  background-color: red;
}

#part4-text {
  margin: 0;
  padding: 0;
  color: #fff;
  letter-spacing: -0.3px;
  background-image: linear-gradient(
    75deg,
    #fff 0%,
    #fff 33.3%,
    rgba(255, 255, 255, 0) 66.67%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 500% 100%;
  background-position-x: calc(100% - var(--part4-percentage));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  bottom: 12%;
  left: 5%;
}

.parallax-window {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

